<h1>details of city</h1>
<form action="/customer" method="POST">
    <input type="text" name="CustomerID" id="" placeholder="enter CustomerID">
    <input type="text" name="FirstName" id="" placeholder="enter FirstName">
    <input type="text" name="LastName" id="" placeholder="enter LastName">
    <input type="text" name="Email" id="" placeholder="enter Email">
    <input type="text" name="Phone" id="" placeholder="enter Phone">
    <input type="text" name="NumberOfTimesVisited" id="" placeholder="enter NumberOfTimesVisited">

    <input type="submit" name="submit" id="">

</form>
