/* Styles for the entire app */
.App {
  background-color: #eee; /* Set background color */
  width: 100vw; /* Set width to full viewport width */
  height: 100vh; /* Set height to full viewport height */
}

/* Styles for the search bar container */
.search-bar-container {
  padding-top: 20vh; /* Add padding from the top */
  width: 40%; /* Set width */
  margin: auto; /* Center horizontally */
  display: flex; /* Use flexbox for layout */
  flex-direction: column; /* Arrange children in a column */
  align-items: center; /* Center children horizontally */
  min-width: 200px; /* Set minimum width */
}

/* Styles for the container */
.container {
  display: flex; /* Use flexbox for layout */
  justify-content: space-between; /* Distribute space between children */
}

/* Styles for boxes */
.boxes,
.boxes2 {
  flex-grow: 1; /* Allow each box to grow to occupy available space */
}

/* Styles for container2 */
.container2 {
  display: flex; /* Use flexbox for layout */
  flex-direction: column; /* Arrange children in a column */
  align-items: center; /* Center children horizontally */
}

/* Styles for individual box */
.box {
  padding: 20px; /* Add padding */
  margin: 10px; /* Add margin */
  border-radius: 5px; /* Add border radius for rounded corners */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add box shadow */
  width: "100px"; /* Set width */
  margin-left: 150px; /* Add left margin */
}
