.results-list {
  width: 100px !important; /* Set width of the results list */
  background-color: white; /* Set background color of the results list */
  flex-direction: column; /* Set flex direction to column */
  box-shadow: 0px 0px 8px #ddd; /* Add box shadow for styling */
  border-radius: 10px; /* Add border radius for rounded corners */
  margin-top: 1rem; /* Add margin from the top */
  max-height: 200px; /* Set maximum height to enable scrolling */
  overflow-y: auto; /* Enable vertical scrolling when content exceeds max height */
}
